[project]
	description = Just Another (MDS) Java Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tomkcpr
[access "refs/for/refs/*"]
	read = group user/tomkcpr
	push = group user/tomkcpr
	label-Code-Review = -2..+2 group user/tomkcpr
	label-Verified = -1..+1 group user/tomkcpr
	rebase = group user/tomkcpr
	removeReviewer = group user/tomkcpr
	submit = group user/tomkcpr
[access "refs/heads/*"]
	read = group user/tomkcpr
	create = group user/tomkcpr
	push = +force group user/tomkcpr
	pushMerge = group user/tomkcpr
[access "refs/tags/*"]
	push = group user/tomkcpr
	push = +force group user/tomkcpr
